<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item lines="none" class="ion-no-padding">
          <ion-button slot="start" size="small">
            Ravi Sharma
          </ion-button>
          <ion-button slot="end" (click)="onCancel()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-row class="ion-no-padding">
          <ion-col size="6" class="ion-no-padding">
            <ion-row>
              <ion-col size="12">
                <ion-img src="assets/img/battery.png"></ion-img>
                <!-- <ion-icon style="font-size: 15em;" src="assets/img/battery.svg">
                </ion-icon> -->

              </ion-col>
              <ion-col size="12" style="padding: 16px;">
                <p style="padding: 0px; margin: 5px; font-size: 1.2em;">Range</p>
                <div style="border: 1px solid #39b54a; border-radius: 5px;">
                  <p style="font-size: 1.3em; text-align: center; padding: 0px; margin: 7px;"><b>20˜25km</b></p>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-row>
              <ion-col size="12">
                  <ion-img src="assets/img/battery2.png"></ion-img>
                <!-- <ion-icon style="font-size: 15em;" src="assets/img/battery2.svg">
                </ion-icon> -->
              </ion-col>
              <ion-col size="12" style="padding: 16px;">
                <p style="padding: 0px; margin: 5px; font-size: 1.2em;">Range</p>
                <div style="border: 1px solid #39b54a; border-radius: 5px;">
                  <p style="font-size: 1.3em; text-align: center; padding: 0px; margin: 7px;"><b>20˜25km</b></p>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 50%">
          <ion-col size="1"></ion-col>
          <ion-col class="ioncol" size="10" (click)="onClicked()">
            <p style="text-align: center; margin: 0px; padding: 0px;">Stop Charging & Load</p>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>