<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item lines="none" class="ion-no-padding">
          <ion-button slot="end" (click)="onCancel()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-card class="ion-text-center" style="box-shadow: none !important; margin: 50px 0px 0px 0px;">
          <ion-card-header>
            <ion-card-title style="font-size: 2em; font-weight: 400;"><b>Sorry Ravi! </b>You are not authorized to load
              the battery.</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <ion-button class="round" color="primary" (click)="onClicked('ok')">Try Again</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card style="box-shadow: none !important; margin: 80px 0px 0px 0px;">
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6" class="ion-text ion-text-center">
              <ion-img style="width: 100px;margin: auto;display: block;" src="assets/img/help.png"></ion-img>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>