<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item lines="none" class="ion-no-padding">
          <ion-button slot="start" size="small">
            Ravi Sharma
          </ion-button>
          <ion-button slot="end" (click)="onCancel()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item class="ion-no-padding ion-text ion-text-center">
          <h2>Customer Details</h2>
        </ion-item>
        <ion-list>
          <!-- <ion-item> -->
          <ion-row>
            <ion-col size="4" class="padding-top: 7px;">
              <ion-label class="ion-text ion-text-wrap">Permanent Address</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-textarea class="inputClass" rows="5" placeholder="Enter full adress here..."></ion-textarea>
            </ion-col>
          </ion-row>
          <!-- </ion-item>
          <ion-item> -->
          <ion-row>
            <ion-col size="4" class="padding-top: 7px;">
              <ion-label class="ion-text ion-text-wrap">Adhar Number *</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-input class="inputClass" type="number" placeholder="Enter adhar number here..."></ion-input>
            </ion-col>
          </ion-row>
          <!-- </ion-item>
          <ion-item> -->
          <ion-row>
            <ion-col size="4" class="padding-top: 7px;">
              <ion-label class="ion-text ion-text-wrap">D/L Number *</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-input class="inputClass" type="number" placeholder="Enter d/l number here..."></ion-input>
            </ion-col>
          </ion-row>
          <!-- </ion-item>
          <ion-item> -->
          <ion-row>
            <ion-col size="4" class="padding-top: 7px;">
              <ion-label class="ion-text ion-text-wrap">Vehicle Regn. Number *</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-input class="inputClass" type="number" placeholder="Enter vehicle registration number here...">
              </ion-input>
            </ion-col>
          </ion-row>
          <!-- </ion-item> -->
          <!-- <ion-item> -->
          <ion-row>
            <ion-col size="4" class="padding-top: 7px;">
              <ion-label class="ion-text ion-text-wrap">Vehicle Type</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-select class="inputClass" value="eschooter" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="eschooter">Escooter</ion-select-option>
                <ion-select-option value="ebicycle">Ebicycle</ion-select-option>
                <ion-select-option value="ecart">Ecart</ion-select-option>
                <ion-select-option value="erickshaw">Erickshaw</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <!-- </ion-item> -->
        </ion-list>
        <ion-row>
          <ion-col class="ion-text ion-text-center">
            <ion-button (click)="onProcess()" shape="round">Payment Process</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>