<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color='primary' (click)="startApp()" [hidden]="!showSkip">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false">
    <ion-slide>
      <img src="assets/img/gif/Ebicycle loading_08102019.gif" class="slide-image" />
      <h2 class="slide-title">
        Welcome to
        <b>Svich</b>
      </h2>
      <p>
        The
        <b>ionic svich app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code
        use.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/gif/Ecart loading_07102019.gif" class="slide-image" />
      <h2 class="slide-title">What is Svich?</h2>
      <p>
        <b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies
        like HTML, CSS, and JavaScript.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/gif/Escooter loading_07102019.gif" class="slide-image" />
      <h2 class="slide-title">What is Ionic Appflow?</h2>
      <p>
        <b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new
        level of app development agility to mobile dev teams.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
      <h2 class="slide-title">Ready to Use?</h2>
      <ion-button fill="clear" (click)="startApp()">
        Continue
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
