ion-item .sc-ion-textarea-md-h {
    --padding-top: 0px;
  }
  
  .inputClass {
      border: 1px solid #39b54a;
      border-radius: 5px;
      width: 100%;
  }

  .ioncol {
    border-radius: 15px;
    border: 5px solid green;
    font-size: 1.5em;
    font-weight: 600;
}