<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item lines="none" class="ion-no-padding">
          <ion-button slot="start" size="small">
            Ravi Sharma
          </ion-button>
          <ion-button slot="end" (click)="onCancel()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-row class="ion-no-padding">
          <ion-col size="2" class="ion-no-padding">
            <ion-icon style="font-size: 3em;" src="assets/img/battery2.svg">
            </ion-icon>
          </ion-col>
          <ion-col size="2" class="ion-no-padding">
            <ion-icon style="font-size: 3em; margin-left: -21px; margin-top: -10px;" src="assets/img/bat1.svg">
            </ion-icon>
          </ion-col>
          <ion-col size="8" class="ion-no-padding"></ion-col>
        </ion-row>
        <ion-item class="ion-no-padding ion-text ion-text-center">
          <h2>Ride Statistics</h2>
        </ion-item>
        <ion-list>

          <ion-row>
            <ion-col size="4" class="padding-top: 7px;">
              <ion-label class="ion-text ion-text-wrap">Distance Coverd</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-input class="inputClass" type="number" placeholder="in kms..."></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" class="padding-top: 7px;">
              <ion-label class="ion-text ion-text-wrap">Time Rent</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-input class="inputClass" type="number" placeholder="in hrs..."></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" class="padding-top: 7px;">
              <ion-label class="ion-text ion-text-wrap">Unit Consumed</ion-label>
            </ion-col>
            <ion-col size="8">
              <ion-input class="inputClass" type="number" placeholder="in kwh...">
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-list>

        <ion-card class="ion-text-center" style="box-shadow: none !important; margin: 5px 0px 0px 0px;">
          <ion-card-header>
            <ion-card-title>CONNECT CHARGER TO CLOSE THIS RIDE</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <div style="border: 1px solid #39b54a; border-radius: 5px;height: 190px;width: 250px;margin: auto;">
                  <ion-img style="width: 200px;margin: auto;display: block;"
                    src="assets/img/gif/Ecart loading_07102019.gif"></ion-img>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-row>
          <ion-col class="ioncol" size="12" (click)="onSuccess()">BATTERY 1 CONNECTED TO CHARGER</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>