<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card class="ion-text-center" style="box-shadow: none !important; margin: 50px 0px 0px 0px;">
          <ion-card-header>
            <ion-card-title style="font-size: 2em; font-weight: 400;"><b>Thank You </b>Ravi</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card style="box-shadow: none !important; margin: 80px 0px 0px 0px;">
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6" class="ion-text ion-text-center">
              <ion-button shape="round" color="tertiary" (click)="onCancel()">CLOSE</ion-button>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>