<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item lines="none" class="ion-no-padding">
          <ion-button slot="start" size="small">
            Ravi Sharma
          </ion-button>
          <ion-button slot="end" (click)="onCancel()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-row class="ion-no-padding">
          <ion-col size="2" class="ion-no-padding">
            <ion-icon (click)="onBattery()" style="font-size: 3em; padding-left: 4px;" src="assets/img/battery2.svg">
            </ion-icon>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-icon (click)="onBattery()" style="font-size: 22em;margin-left: -105px;" src="assets/img/battery.svg">
            </ion-icon>
          </ion-col>
          <ion-col size="4" class="ion-no-padding" style="margin-top: 59px; margin-left: -16px;">
           <ion-row>
             <ion-col size="12">
                <ion-img style="width: 110px; margin: auto;" src="assets/img/lock.png"></ion-img>
             </ion-col>
             <ion-col size="12" style="margin-top: 58px; margin-left: -23px;">
                <p style="text-align: right;">Range</p>
                <div style="border: 1px solid #39b54a; border-radius: 5px;height: 50px;width: 165px;margin: auto;">
                  <p style="font-size: 1.8em; margin-top: 6px; margin-left: 22px;"><b>20˜25km</b></p>
                </div>
             </ion-col>
           </ion-row>
          </ion-col>
        </ion-row>
        <ion-card class="ion-text-center" style="box-shadow: none !important; margin: 60px 0px 0px 0px;">
          <ion-card-content class="ion-no-padding">
            <ion-row>
              <ion-col size="12">
                  <ion-button (click)="onRideClose()" shape="round">Ride Close</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card class="ion-text-center" style="box-shadow: none !important; margin: 60px 0px 0px 0px;">
          <ion-img style="width: 110px; margin: auto;" src="assets/img/help.png"></ion-img>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>