<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item lines="none" class="ion-no-padding">
          <ion-button slot="start" size="small">
            Ravi Sharma
          </ion-button>
          <ion-button slot="end" (click)="onCancel()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- <ion-item lines="none" class="ion-no-padding">
          <ion-icon style="font-size: 3em; padding-left: 4px;" src="assets/img/bat1.svg"></ion-icon>
        </ion-item> -->
        <ion-card class="ion-text-center" style="box-shadow: none !important; margin: 5px 0px 0px 0px;">
          <!-- <ion-card-header>
            <ion-card-title style="font-size: 2.5em; font-weight: 400;">Load battery on vehicle</ion-card-title>
          </ion-card-header> -->
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <div style="border: 1px solid #39b54a; border-radius: 5px;height: 190px;width: 250px;margin: auto;">
                  <ion-img style="width: 200px;margin: auto;display: block;"
                    src="assets/img/gif/Ecart loading_07102019.gif"></ion-img>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card class="ion-text-center" style="box-shadow: none !important; margin: 10px 0px 0px 0px;">
          <ion-img style="width: 350px; margin: auto;" src="assets/img/camera_overlay.png"></ion-img>
          <ion-card-content>
            <ion-row>
              <ion-col size="2"></ion-col>
              <ion-col class="ioncol" size="8" (click)="onClicked('ok')">Loaded BATTERY 1</ion-col>
              <ion-col size="2"></ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>