<ion-header>
  <ion-toolbar>
    <ion-title>Ravi, welcome to Svich</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card class="ion-text-center" style="box-shadow: none !important;margin: 115px 0px 0px 0px;">
          <ion-card-header>
            <ion-card-title style="font-size: 2.5em; font-weight: 400;">I would like to</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <ion-button class="round" color="primary" (click)="onClicked()">BUY</ion-button>
              </ion-col>
              <ion-col size="12">
                <h6><b>OR</b></h6>
              </ion-col>
              <ion-col size="12">
                <ion-button class="round" color="tertiary" (click)="onClicked()">RENT</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>