.round {
  //   --border-width: 150px;
  //   --width: 180px;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  font-size: 2em;
  //   --height: 180px;
  //   --border-radius: 25%;
  //   --vertical-align: middle;
  //   --padding-start: 10px;
  //   --padding-end: 10px;
}
